In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("LArealestate.csv")
df

,address,beds,baths,sqft,date,price,city,type
0,1005 Benedict Canyon Dr,8.0,11.0,10379.0,03/08/2014Hilton & HylandFeatured,18000000.0,Beverly Hills,sfh
1,10084 Westwanda Dr,2.0,3.0,2013.0,12/11/2013Coldwell Banker Residential Brokerag...,950000.0,Beverly Hills,sfh
2,1009 N Beverly Dr,4.0,5.0,3476.0,03/18/2014Hilton & Hyland,9750000.0,Beverly Hills,sfh
3,1010 N Rexford Dr,5.0,6.5,7718.0,03/01/2014John Aaroe Group,16500000.0,Beverly Hills,sfh
4,10101 Angelo View Dr,3.0,1.5,4000.0,03/24/2014Rodeo Realty Inc.,24250000.0,Beverly Hills,sfh
...,...,...,...,...,...,...,...,...
250,3640 Cardiff Ave Apt 201,1.0,1.0,676.0,03/25/2014The Agency,299000.0,Palms,condo
251,3701 Glendon Ave Apt 9,2.0,3.0,1419.0,03/24/2014Coldwell Banker Residential Brokerag...,524000.0,Palms,condo
252,9313 National Blvd Apt 101,1.0,1.0,692.0,03/24/2014Rodeo Realty Inc.,349000.0,Palms,condo
253,9313 National Blvd Apt 203,2.0,2.0,824.0,03/18/2014Keller WilliamsFeatured,399000.0,Palms,condo
254,3300 S Sepulveda Blvd Apt G9,2.0,2.0,1224.0,03/24/2014Keller Williams Realty Santa MonicaF...,399000.0,Palms,condo

In [3]:
#df.isna().sum()/df.shape[0]*100

df.dropna(inplace = True)

In [4]:
df["agency"] = df.date.apply(lambda x : x[10:])
df["date"] = df.date.apply(lambda x : x[:10])

In [5]:
df["street"] = df.address.apply(lambda x : " ".join(x.strip().split(" ")[1:]))
df["postal_code"] = df.address.apply(lambda x : (x.strip().split(" ")[0]))

df.drop("address", axis = 1, inplace = True)

In [6]:
df["year"] = df.date.apply(lambda x : x.split("/")[-1])
df["month"] = df.date.apply(lambda x : x.split("/")[1])
df["day"] = df.date.apply(lambda x : x.split("/")[0])

df.drop("date", axis = 1, inplace = True)

In [7]:
print('Alex wins')

Alex wins

In [8]:
df.city.value_counts()

Beverly Hills    147
Palms             48
culver city       30
Culver City       28
Name: city, dtype: int64

In [9]:
df.city = df.city.apply(lambda i: 'Culver City' if i=='culver city' else i)

In [10]:
df.city.value_counts()

Beverly Hills    147
Culver City       58
Palms             48
Name: city, dtype: int64

In [11]:
city_dict= {'Beverly Hills': 0.0, 'Culver City': 1.0, 'Palms': 2.0}

In [14]:
df.replace({'city': city_dict}, inplace= True)

In [15]:
df

,beds,baths,sqft,price,city,type,agency,street,postal_code,year,month,day
0,8.0,11.0,10379.0,18000000.0,0.0,sfh,Hilton & HylandFeatured,Benedict Canyon Dr,1005,2014,08,03
1,2.0,3.0,2013.0,950000.0,0.0,sfh,Coldwell Banker Residential Brokerage - Sherma...,Westwanda Dr,10084,2013,11,12
2,4.0,5.0,3476.0,9750000.0,0.0,sfh,Hilton & Hyland,N Beverly Dr,1009,2014,18,03
3,5.0,6.5,7718.0,16500000.0,0.0,sfh,John Aaroe Group,N Rexford Dr,1010,2014,01,03
4,3.0,1.5,4000.0,24250000.0,0.0,sfh,Rodeo Realty Inc.,Angelo View Dr,10101,2014,24,03
...,...,...,...,...,...,...,...,...,...,...,...,...
250,1.0,1.0,676.0,299000.0,2.0,condo,The Agency,Cardiff Ave Apt 201,3640,2014,25,03
251,2.0,3.0,1419.0,524000.0,2.0,condo,Coldwell Banker Residential Brokerage - Santa ...,Glendon Ave Apt 9,3701,2014,24,03
252,1.0,1.0,692.0,349000.0,2.0,condo,Rodeo Realty Inc.,National Blvd Apt 101,9313,2014,24,03
253,2.0,2.0,824.0,399000.0,2.0,condo,Keller WilliamsFeatured,National Blvd Apt 203,9313,2014,18,03
254,2.0,2.0,1224.0,399000.0,2.0,condo,Keller Williams Realty Santa MonicaFeatured,S Sepulveda Blvd Apt G9,3300,2014,24,03