In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv("LArealestate.csv")
df

,address,beds,baths,sqft,date,price,city,type
0,1005 Benedict Canyon Dr,8.0,11.0,10379.0,03/08/2014Hilton & HylandFeatured,18000000.0,Beverly Hills,sfh
1,10084 Westwanda Dr,2.0,3.0,2013.0,12/11/2013Coldwell Banker Residential Brokerag...,950000.0,Beverly Hills,sfh
2,1009 N Beverly Dr,4.0,5.0,3476.0,03/18/2014Hilton & Hyland,9750000.0,Beverly Hills,sfh
3,1010 N Rexford Dr,5.0,6.5,7718.0,03/01/2014John Aaroe Group,16500000.0,Beverly Hills,sfh
4,10101 Angelo View Dr,3.0,1.5,4000.0,03/24/2014Rodeo Realty Inc.,24250000.0,Beverly Hills,sfh
...,...,...,...,...,...,...,...,...
250,3640 Cardiff Ave Apt 201,1.0,1.0,676.0,03/25/2014The Agency,299000.0,Palms,condo
251,3701 Glendon Ave Apt 9,2.0,3.0,1419.0,03/24/2014Coldwell Banker Residential Brokerag...,524000.0,Palms,condo
252,9313 National Blvd Apt 101,1.0,1.0,692.0,03/24/2014Rodeo Realty Inc.,349000.0,Palms,condo
253,9313 National Blvd Apt 203,2.0,2.0,824.0,03/18/2014Keller WilliamsFeatured,399000.0,Palms,condo
254,3300 S Sepulveda Blvd Apt G9,2.0,2.0,1224.0,03/24/2014Keller Williams Realty Santa MonicaF...,399000.0,Palms,condo

In [3]:
#df.isna().sum()/df.shape[0]*100

df.dropna(inplace = True)

In [4]:
df["agency"] = df.date.apply(lambda x : x[10:])
df["date"] = df.date.apply(lambda x : x[:10])

In [5]:
df["street"] = df.address.apply(lambda x : " ".join(x.strip().split(" ")[1:]))
df["postal_code"] = df.address.apply(lambda x : (x.strip().split(" ")[0]))

df.drop("address", axis = 1, inplace = True)

In [6]:
df["year"] = df.date.apply(lambda x : x.split("/")[-1])
df["month"] = df.date.apply(lambda x : x.split("/")[1])
df["day"] = df.date.apply(lambda x : x.split("/")[0])

df.drop("date", axis = 1, inplace = True)

In [7]:
print('Alex wins')

Alex wins